/* font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* CSS-Змінні */
:root {
   --title-dark-color: #212121;
   --text-dark-color: #757575;
   --background-dark-color: #2F303A;
   --black-color: #000000;
   --accent-color: #2196F3;
   --white-color: #FFFFFF;
   --text-light-color: rgba(255, 255, 255, 0.6);
   --background-light-color: #F5F5F5;
   --background-gray-color: #F5F4FA;
   --border-portfolio-color: #EEEEEE;
   --border-header-color: #ECECEC;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--title-dark-color);
}

.hero-button,
.portfolio-button {
   cursor: pointer;
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
}
.this {
   color: var(--accent-color);
}

/* Шапка сайту */
.header {
   background-color: var(--white-color);
}
.logo-header {
   color: var(--black-color);
   font-family: 'Raleway', sans-serif;
   /* font-style: normal; */
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
}
.logo-header > span {
   color: var(--accent-color);
}
.nav {
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}
.nav:hover,
.nav:focus,
.address-header:hover,
.address-header:focus {
   color: var(--accent-color);
}
.address-header {
   color: var(--text-dark-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}

/* Герой */
.hero {
   background-color: var(--background-dark-color);
   width: 1600px;
   height: 600px;
}
.hero-title {
   color: var(--white-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   /* or 136% */
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   width: 696px;
   height: 120px;
}
.hero-button {
   color: var(--white-color);
   background-color: var(--accent-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   /* identical to box height, or 188% */
   /* display: flex;
   align-items: center;
   text-align: center; */
   letter-spacing: 0.06em;
   width: 216px;
   height: 50px;
}

/* Особливості */
.characteristics,
.works {
   background-color: var(--background-light-color);
}
.characteristic-title {
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.characteristic-text {
   color: var(--text-dark-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   /* or 171% */

   letter-spacing: 0.03em;
}

/* Чим ми займаємося */
.works-title {
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
}

/* Наша команда */
.team {
   background-color: var(--background-gray-color);
}
.team-title {
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
}
.card-title {
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   text-align: center;
   letter-spacing: 0.03em;
}
.card {
   background-color: var(--white-color);
}
.card-text {
   color: var(--text-dark-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   /* identical to box height */
   text-align: center;
   letter-spacing: 0.03em;
}

/* Підвал сторінки */
.footer {
   background-color: var(--background-dark-color);
   width: 1600px;
   height: 252px;
}
.logo-footer {
   color: var(--white-color);
   font-family: 'Raleway', sans-serif;
   /* font-style: normal; */
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   /* identical to box height */
   letter-spacing: 0.03em;
}
.logo-footer > span {
   color: var(--accent-color);
}
.map-footer {
   color: var(--white-color);
   /* font-family: 'Roboto'; */
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   /* or 171% */
   letter-spacing: 0.03em;
}
.address-footer {
   color: var(--text-light-color);
   /* font-family: 'Roboto'; */
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   /* or 171% */
   letter-spacing: 0.03em;
}

/* Портфоліо */
.portfolio {
   background-color: var(--background-light-color);
}
.portfolio-button {
   background-color: var(--background-gray-color);
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   /* identical to box height, or 162% */
   text-align: center;
   letter-spacing: 0.03em;
}
.portfolio-button:hover,
.portfolio-button:focus {
   background-color: var(--accent-color);
   color: var(--white-color);
}
.project {
   background-color: var(--white-color);
}
.project-title {
   /* color: var(--title-dark-color); */
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 700;
   font-size: 18px;
   line-height: 36px;
   /* identical to box height, or 200% */
   letter-spacing: 0.06em;
}
.project-text {
   color: var(--text-dark-color);
   /* font-family: 'Roboto';
   font-style: normal; */
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   /* identical to box height, or 188% */
   letter-spacing: 0.03em;
}